Automate responses - hiring Brno.blueprint.json
{
    "name": "Automate responses - hiring Brno",
    "flow": [
        {
            "id": 19,
            "module": "email:TriggerNewEmail",
            "version": 7,
            "parameters": {
                "to": "",
                "from": "",
                "text": "",
                "folder": "Brno/AI - Aktivace partneru",
                "account": 11275504,
                "subject": "",
                "criteria": "UNSEEN",
                "markSeen": true,
                "maxResults": 5
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "folder": {
                            "path": [
                                "Brno/AI - Aktivace partneru",
                                "AI - Aktivace partneru"
                            ]
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "uklid2@naseandulka.cz (uklid2@naseandulka.cz)"
                        },
                        "criteria": {
                            "label": "Only Unread emails"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "ALL",
                                "SEEN",
                                "UNSEEN"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "to",
                        "type": "email",
                        "label": "Recipient email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Phrase"
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark message(s) as read when fetched"
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "question_answer_template",
                        "value": "\"Andulka – Jak funguje spolupráce a odpovědi na nejčastější dotazy uchazečů. V Andulce fungujeme jako platforma zajišťující úklid společných prostor bytových domů (chodby, schodiště, výtahy) a komerčních prostor (kanceláře, restaurace, obchody). Naši partneři jsou živnostníci, kteří si sami vybírají zakázky a nastavují si pracovní dobu podle své flexibility. Spolupráce probíhá pouze na základě živnostenského listu (ŽL), jiné formy spolupráce (HPP, DPP, DPČ) u nás nejsou možné. Díky tomu nabízíme vyšší odměny a větší flexibilitu, zároveň se Vám staráme o administrativu, a vy se tak můžete 100% soustředit na úklid.Podmínky spolupráce. Spolupracujeme pouze s neplátci DPH, ať už jde o jednotlivce nebo menší firmy. Pokud má uchazeč zaměstnance, začínáme spolupráci vždy s jednou osobou a po ověření můžeme přidat dalšího (maximálně 1–3 zaměstnance). Pokud chce někdo spolupracovat na živnost kamaráda, sestry, maminky, nebo obecně někoho známého, je to možné. Všechny náležitosti, které jsou pro tuto spolupráci mezi živnostníkem a jeho zaměstnancem nezbytné, jsou v odpovědnosti daného živnostníka. Výslovně to však uchazeči jako variantu spolupráce nenabízej, pouze pokud se na to sám zeptá (Např. můžu spolupracovat na živnost někoho známého?). Proces spolupráce. Uchazeč musí mít živnostenský list (ať už jako fyzická osoba nebo firma). Pokud jej nemá, poradíme, jak jej založit. Vedlejší živnost je vhodná pro studenty, důchodce, osoby na rodičovské či zaměstnané na HPP. Osoby vedené na ÚP nemají možnost mít aktivní živnostenský list.V případě, že má uchazeč o spolupráci s námi zájem a má aktivní živnost, je potřeba, aby vyplnil formulář na této webové adrese: https://www.naseandulka.cz/partner-registrace/. Po jeho vyplnění můžeme podepsat smlouvu.Po podpisu smlouvy následuje tréninkový den, kde uchazeč spolupracuje se zkušeným partnerem. Tento krok je pro zahájení spolupráce nutný bez ohledu na předchozí zkušenosti uchazeče. Po úspěšném absolvování tréninku začneme partnerovi zasílat zakázky.Zakázky jsou pravidelné a partneři si mohou vybrat, kolik zakázek chtějí přijmout. Všechna města, kde úklidy zabezpečujeme a máme možnost zde i nabízet zakázky k úklidu jsou: Praha, Kladno, České Budějovice, Brno, Hradec Králové, Pardubice, Olomouc, Bratislava, Košice, Nitra, Banská Bystrica, Prešov, Ostrava, Plzeň, Liberec, Zlín, Ústí nad Labem, Opava, Teplice, Děčín, Karlovy Vary, Jablonec nad Nisou, Třebíč, Jihlava, Frýdek-Místek, Karviná, Znojmo. Za hranicemi těchto měst už zakázky většinou nemáme.Pokud by se uchazeč hlásil o práci v jiném městě, než je zde uvedeno, prosím odkaž ho na naše webové stránky www.naseandulka.cz nebo mu seznam měst napiš, aby věděl, v jakých lokalitách mu spolupráci můžeme nabídnout. Výhody spolupráce. Flexibilita v nastavení pracovních dní - ty si partner volí sám a tento den pak pravidelně dodržuje. Časové rozmezí na úklid je stanoveno na 8:00–20:00 s možností úpravy po předchozí domluvě.Stabilní a pravidelné zakázky, které mohou partneři postupně navyšovat.Odměny jsou závislé na počtu zakázek a velikosti objektů (například za plný týden úklidů 30–40 tisíc Kč měsíčně).Klíčové body pro komunikaciNa začátku e-mailu vždy napiš: Dobrý den, a potom oslovení člověka. Příjmení skloňuj. Pokud jméno neznáš, napiš jen \"\"Dobrý den,\"\"Na závěr každého e-mailu vždy přidej:Předem Vám děkujeme za reakci.Tým AndulkaPiš odpovídej na maily v první osobě množného čísla, ne jako jednotlivecBuďte nápomocní a dávejte plný kontext, pro maximální pochopení.Používejte formulace jako například \"V Andulce to funguje tak, že\"\" pro konzistentní komunikaci.Jasně vysvětlujte proces náboru, tréninku a postupné přidělování zakázek.Podporujte zájemce v získání živnostenského listu, pokud ho nemají.Piš gramaticky správně, na konci řádku nesmí být předložka, spojka, částice a pokud to tak vyjde, dej tyto slovní druhy na nový řádek.Potom, co napíšeš pozdrav tak v navazujícím odstavci za čárkou už piš první slovo malým písmenem.Zaměřte se na výhody flexibilní spolupráce a možnosti přizpůsobení práce.Pokud je otázka složitější a nejsme si jisti odpovědí, doporučujeme se obrátit na odborníka nebo příslušný úřad.Pokud použiješ v nějakém odstavci oslovení \"Vy\", nebo jiná podobná oslovení, už je následně tolik v odstavci a emailu neopakuj a zkus použít něco jiného.Časté dotazy a odpovědi:Nemám živnostenský list, mohu pracovat na DPP?Spolupráce je možná pouze na základě ŽL, který poskytuje flexibilitu a vyšší odměny. Pokud ŽL nemáte, můžeme vám pomoci s jeho založením. Můžete také spolupracovat prostřednictvím známého, který ŽL má.Mohu si domluvit osobní schůzku?Komunikaci vedeme online nebo telefonicky pro rychlé a efektivní vyřízení. Napište nám své dotazy nebo telefonní číslo, rádi vám pomůžeme.Jak probíhá založení živnostenského listu?Založení ŽL je jednoduché – stačí navštívit živnostenský úřad, vyplnit formulář a zaplatit poplatek. Pomůžeme vám s procesem krok za krokem.Můžete mi říci, kolik volných domů máte k dispozici?Počet volných domů se mění. Zakázky přidělujeme postupně po podpisu smlouvy a absolvování tréninku.Jaká je finanční odměna?Odměna se vždy odvíjí od velikosti domu a od rozsahu úklidů a počtu úklidů v měsíci. Každý dům je tedy neceňován individuálně a není možné stanovit jednotnou cenu. Odměna je úkolová, nikoliv hodinová.Je možné vyplácet odměny týdně nebo v hotovosti?Odměny vyplácíme jednou měsíčně a to pouze na bankovní účet.Chtěl bych pracovat s někým dalším, je to možné?Spolupráci vždy začínáme s jednou osobou. Po ověření fungování spolupráce si živnostník může přibrat svého zaměstnance, a to opět po absolvování tréninkového dne s Andulkou. Nezaučujeme však více lidí najednou.Jaké jsou podmínky pro spolupráci, pokud nemám ŽL?Spolupráci vždy začínáme s jednou osobou. Po ověření fungování spolupráce si živnostník může přibrat svého zaměstnance, a to opět po absolvování tréninkového dne s Andulkou. Nezaučujeme však více lidí najednou.O Spolupráci nemám zájem.Budeme rádi za důvod, proč je pro Vás spolupráce s námi nezajímavá. V případě, že byste o ni v budoucnu zájem projevil, budeme rádi, když se na nás obrátíte.Uklízíte i ve městě xxx?Na stránkách https://www.naseandulka.cz/, kde jsou uvedena všechna města, kde úklid zajišťujeme. Ve většině případů se jedná o úklid pouze na území města, popř. v jeho přilehlém okolí (do 10 km).Zajišťujete pro úklid i úklidové prostředky? Úklidové prostředky si partner zajišťuje sám a jsou již zahrnuté v odměně za úklid domu nebo kanceláře. Jedná se o zcela běžné úklidové prostředky (koště, hadr, kýbl, saponát, voňavý přípravek na podlahy) a vždy si je může uložit v úklidové místnosti v domě.Kdy je možný nástup?Zahájit spolupráci můžeme během pár dní. Po podpisu smlouvy proběhne školící den a po jeho úspěšném absolvování Vám následně budeme zasílat nabídky volných zakázek.Je možné na úklidy docházet s dětmi?Chápeme situaci a děkujeme za dotaz, ale taková možnost není k dispozici. Den a čas úklidu si volíte sami, a proto věříme, že pro Vás nebude překážkou na úklid docházet bez dětí. Tuto skutečnost je důležité dodržovat i z hlediska bezpečnosti práce.Poskytujete ubytování?Ubytování z naší strany není zajišťováno.Jak je to s dopravou?Vy, jako náš partner, se na místo úklidu dopravujete po vlastní ose. Je tedy na Vás zda zvolíte cestu MHD nebo autem. Do odměny je zohledněna již i cesta na místo výkonu. Firma Andulka se také snaží nabízet úklidovým partnerům zakázky co nejblíže k sobě, aby přejezdy nebyly tak velké.Je možné, abych na úklid chodil ještě s někým?Existuje možnost, aby na úklid chodili ve dvou lidech. Nicméně uchazeč musí být vždy přítomen a musí nás o tom informovat. Zároveň se nikdy nesmí stát, že by ten druhý člověk šel na úklid sám bez uchazeče, aniž by s námi tuto situaci konzultoval, jelikož klient o této situaci musí být ze strany Andulky vžy srozuměn. V případě, že by uchazeč měl zájem o zaměstnání další osoby na dohodu, je to samozřejmě možné. V takovém případě však i druhý uchazeč musí projít tréninkovým dnem.Dobrý den, mám velký zájem o vaši práci, ale bohužel jsem kvůli mateřské dovolené přerušila svou živnost - XXXXXXX - to je moje IČO - ale jak jsem říkala, momentálně je přerušené. Existuje jiný způsob, jak to u vás udělat?\"děkujeme Vám za e-mail.Jsme moc rádi, že máte o spolupráci zájem. Forma spolupráce je u nás možná pouze formou živnostenského listu, což Vám zabezpečit větší flexibilitu, vyšší odměnu. Máte v okolí někoho, kdo má živnost aktivní? Také budeme rádi za informaci, odkdy se překlenete na rodičovskou dovolenou.Předem Vám děkujeme za reakci.\"Dobrý den, bohužel nemám živnostenský list, mohu u vás pracovat na dohodu o provedení práce (DPP)? Děkuji za odpověď.\"děkujeme Vám za zprávu.Máme jednotný systém pro všechny naše partnery, a to je spolupráce na základě ŽL. Tím Vám dokážeme zabezpečit větší flexibilitu a vyšší odměnu.Vy, náš partner, od nás dostáváte zakázky v úklidu společných prostor. Následně si určíte úklidový den, ve který se pravidelně staráte o Vaše domy.Jaká je Vaše aktuální situace? Jste zaměstnaný, nebo jinak zajištěný?Rádi Vám poradíme se založením ŽL, tak, aby se Vám spolupráce vyplatila.Předem Vám děkujeme za reakci.\"Mám zájem a nezáleží na tom, zda živnostenský list předloží můj manžel, budu pracovat na jeho jméno.\"děkujeme Vám za e-mail.Skvěle, jsme rádi, že máte o spolupráci zájem. Pro zahájení spolupráce je potřeba, aby nám Váš manžel vyplnil tento formulář, na základě kterého Vám připravíme smlouvu k podpisu.Ve formuláři je důležité uvést správně DIČ živnostníka (daňové identifikační číslo), které mu bylo přiděleno finančním úřadem. Pro občany ČR se většinou jedná o CZ + rodné číslo. Pro cizince pak číslo, které mu úřad přidělil. Pokud si nejste jisti, obraťte se na Váš finanční úřad, který Vám rád poradí.Jakmile obdržíme vyplnění formulář, zašleme Vám smlouvu k podpisu a poté domluvíme další kroky.Děkujeme a těšíme se na spolupráci.\"Dobrý den, ráda bych vyplnila formulář, ale nemám žádné IČO, děkuji.\"děkujeme Vám za zprávu.Máme jednotný systém pro všechny naše partnery, a to je spolupráce na základě ŽL. Tím Vám dokážeme zabezpečit větší flexibilitu a vyšší odměnu.Vy, náš partner, od nás dostáváte zakázky v úklidu společných prostor. Následně si určíte úklidový den, ve který se pravidelně staráte o Vaše domy.Jaká je Vaše aktuální situace? Jste zaměstnaný, nebo jinak zajištěný?Rádi Vám poradíme se založením ŽL, tak, aby se Vám spolupráce vyplatila.Předem Vám děkujeme za reakci.\"Nemám živnostenský list.\"děkujeme Vám za zprávu.Máme jednotný systém pro všechny naše partnery, a to je spolupráce na základě ŽL. Tím Vám dokážeme zabezpečit větší flexibilitu a vyšší odměnu.Vy, náš partner, od nás dostáváte zakázky v úklidu společných prostor. Následně si určíte úklidový den, ve který se pravidelně staráte o Vaše domy.Jaká je Vaše aktuální situace? Jste zaměstnaný, nebo jinak zajištěný?Rádi Vám poradíme se založením ŽL, tak, aby se Vám spolupráce vyplatila.Předem Vám děkujeme za reakci.\"Můžete mi zavolat?\"děkujeme Vám za e-mail.Moc rádi s Vámi vyřešíme jakýkoliv požadavek. Napište nám prosím do e-mailu, jaké máte konkrétní dotazy a s čím Vám můžeme pomoci. Věřím, že budeme schopni vyřešit vše touto cestou přes e-mail. Případně se s Vámi spojíme telefonicky.Předem Vám děkujeme za reakci.\"Můžeme si domluvit schůzku, abychom to probrali?\"děkujeme Vám za e-mail.Moc rádi s Vámi vyřešíme jakýkoliv požadavek, napište nám prosím sem do e-mailu, jaké máte konkrétní dotazy a s čím Vám můžeme pomoci. Věřím, že budeme schopni vyřešit vše touto cestou přes e-mail, případně se s Vámi spojíme telefonicky.Předem Vám děkujeme za reakci.\"Prosím, mohl byste mi poslat náhled smlouvy a případně nabídku na úklidové práce?\"děkujeme Vám za e-mail.Rádi Vám zašleme vzor smlouvy - v příloze naleznete PDF dokument. Vzorovou nabídku domů města najdete v prvním zaslaném e-mailu \"Informace o spolupráci\" v prezentaci. Najdete tam i další užitečné informace o spolupráci.Můžeme s Vámi počítat? Pokud Váš zájem stále platí, prosíme Vás o vyplnění formuláře.Předem Vám děkujeme za reakci.\"Dobrý den, mohl by se mi hodit nějaký přivýdělek. Pokud máte nějakou práci, dejte mi prosím vědět. Děkuji.\"děkujeme Vám za e-mail.Spolupráce v Andulce funguje na základě živnostenského listu, a poté je na Vás, kolik domů si vezmete na starost. Spolupráce tedy může fungovat i jako přivýdělek. Prosíme Vás o informaci, jestli máte aktivní živnostenský list. Následně se domluvíme na dalším postupu.Pokud máte ŽL, můžete rovnou vyplnit formulář https://www.naseandulka.cz/partner-registrace/S přáním pěkného dne\"Živnost si půjdu založit.\"děkujeme Vám za e-mail.Jsme rádi, že si živnost založíte. Pokud by bylo potřeba s čímkoliv poradit, určitě se na nás neváhejte obrátit.Po založení živnosti nás prosím kontaktujte a vyplňte tento formulář https://www.naseandulka.cz/partner-registrace/. Následně budeme moci přistoupit k podepsání smlouvy.S přáním pěkného dne\"Živnost mám pozastavenou, nemám ji aktivní.\"děkujeme Vám za e-mail.Pokud je Vaše živnost aktuálně pozastavená, je možné ji na příslušném živnostenském úřadě opět zaktivnit. Důležité pro spolupráci s námi je, aby byl v živnosti uvedený správný obor, který Vám umožní úklidy vykonávat.Po obnovení živnosti nás prosím kontaktujte a vyplňte tento formulář https://www.naseandulka.cz/partner-registrace/. Následně budeme moci přistoupit k podepsání smlouvy.S přáním pěkného dne\""
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "question_answer_template",
                        "type": "any",
                        "label": "question_answer_template"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2226565
            },
            "mapper": {
                "model": "gpt-4o-mini-2024-07-18",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a customer support expert tasked with providing detailed answers to customer inquiries. Use the provided FAQ template to find the most suitable response. The reply should be formatted as clean HTML without unnecessary symbols, such as ```html or any language indicators. Ensure the HTML is clear and ready to be directly inserted into an email."
                    },
                    {
                        "role": "assistant",
                        "content": "Please use the following prompt:{{15.question_answer_template}} Provide a final composed response for the customer. "
                    },
                    {
                        "role": "user",
                        "content": "Here is the customer’s email text that needs a response:{{19.text}}",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "500",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini-2024-07-18 (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI - Andulka"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "email:ActionCreateDraft",
            "version": 7,
            "parameters": {
                "account": 11275504
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{19.from.address}}"
                ],
                "bcc": [],
                "from": "",
                "html": "{{4.choices[].message.content}}\n\n   <div style=\"font-family:Arial,sans-serif; font-size:12px; color:#000; line-height:1.35;\">\n\n    <div style=\"font-size:15px; font-weight:bold; color:#9b0000;\">\n        Ha My Nguyenová\n    </div>\n\n    <div style=\"font-size:12px; margin-top:4px;\">\n        Provozní manažerka\n    </div>\n\n    <br>\n\n    <div style=\"font-size:12px;\">\n        Andulka | Brno\n    </div>\n\n    <br>\n\n    <div style=\"font-size:12px;\">\n        ☎ 770 132 331\n    </div>\n\n    <div style=\"font-size:12px; margin-top:6px;\">\n        ✉ <a href=\"mailto:brno@naseandulka.cz\">brno@naseandulka.cz</a>\n    </div>\n\n    <div style=\"font-size:12px; margin-top:6px;\">\n        🌐 <a href=\"https://www.naseandulka.cz\">https://www.naseandulka.cz</a>\n    </div>\n\n    <br>\n\n    <div style=\"font-size:14px; font-weight:bold; color:#cc2b2b;\">\n        Užijte si svůj volný čas\n    </div>\n\n    <div style=\"font-size:12px; color:#cc2b2b;\">\n        a úklid nechte na Andulce.\n    </div>\n\n</div>",
                "folder": "[Gmail]/Koncepty",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "Re: {{19.subject}}",
                "priority": "normal",
                "inReplyTo": "{{19.headers.`message-id`}}",
                "references": "{{19.references}}+{{19.headers.`message-id`}}",
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "folder": {
                            "mode": "chose",
                            "path": [
                                "Koncepty",
                                "Koncepty"
                            ]
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "edit"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "uklid2@naseandulka.cz (uklid2@naseandulka.cz)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 13,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2226565
            },
            "mapper": {
                "model": "gpt-4o-mini-2024-07-18",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are an assistant that fills in email templates based on customer data and provided template."
                    },
                    {
                        "role": "user",
                        "content": "{{4.choices[].message.content}}\n\nDo poznámky zhrň obsah komunikácie, ktorú si posielal kontaktu. Napíš konkrétne, na čo sa pýtal a ako si mu odpovedal. Ja ako užívateľ sa na to chcem pozrieť a chcem konkrétne vedieť, o čom ste sa bavili. Nepoužívaj odseky, nikdy si nevymýšľaj. Pracuj iba s reálnym obsahom. Zároveň chcem, aby to bolo stručné, nemusíš sa rozpisovať celými vetami (maximálne 15 slov)",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "50",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini-2024-07-18 (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI - Andulka"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publically accessible URL.\nYou can test if your image is publically accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ],
                                                        "advanced": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2189594
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "L",
                            "b": "{{19.from.address}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Aktivace partnerů",
                "sortOrder": "asc",
                "spreadsheetId": "1za9iZaTZk7h7aCGq-vaoFUj63WKy-DYLOFLeoaAXreY",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Aktivace partnerů"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Brno Operations"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "uklid2@naseandulka.cz (uklid2@naseandulka.cz)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Odpovědnost (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Stav (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Tag stavu (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Důvod odmítnutí (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Poznámky (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Duplicita (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Nový kontakt \ntýden (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Telefonický hovor\n(týden) (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Kdy kontaktováno\n(datum) (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Kdy kontaktovat (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "Jméno a Příjmení (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "E-mail (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "Telefon (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "Portál (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Lokalita (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Smlouva týden (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Tréninkový den (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "Pohovor dátum (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "Pohovor čas (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "Poslaná pozvánka (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "Doba prvého kontaktu (týždne) (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "Doba zazmluvnenia (týždne) (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "processed_key (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 16,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2189594
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.`__IMTLENGTH__`}}",
                                            "b": "1",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "share",
                                "mode": "select",
                                "values": {
                                    "4": "{{10.`4`}}; {{formatDate(now; \"DD.MM.\")}}:{{13.choices[].message.content}}",
                                    "8": "{{formatDate(now; \"DD.MM.YYYY\")}}",
                                    "9": "{{formatDate(addDays(now; 5); \"DD.MM.YYYY\")}}"
                                },
                                "sheetId": "Aktivace partnerů",
                                "rowNumber": "{{10.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "/1xSQT1J29GOnoGVu-wD09wQ39tP49KigY/1EEQ_u5wjreMb-NxF6x3ULsP8IzJegcSF/1otdbQ-XTB7_kovhjMNv6VgCux2iJMDSL/1za9iZaTZk7h7aCGq-vaoFUj63WKy-DYLOFLeoaAXreY",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "Shared with me"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Aktivace partnerů"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Andulka Česko",
                                                "Andulka Brno",
                                                "Provoz Brno",
                                                "Brno Operations"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Odpovědnost (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Stav (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Tag stavu (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Důvod odmítnutí (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Poznámky (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Duplicita (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Nový kontakt \ntýden (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Telefonický hovor\n(týden) (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Kdy kontaktováno\n(datum) (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Kdy kontaktovat\n(datum) (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Jméno a Příjmení (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "E-mail (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Telefon (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Portál (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "Lokalita (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "Smlouva týden (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Tréninkový den (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (uklid@naseandulka.cz)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Odpovědnost (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Stav (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Tag stavu (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Důvod odmítnutí (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Poznámky (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Duplicita (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Nový kontakt \ntýden (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Telefonický hovor\n(týden) (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Kdy kontaktováno\n(datum) (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Kdy kontaktovat\n(datum) (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Jméno a Příjmení (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "E-mail (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Telefon (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Portál (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Lokalita (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Smlouva týden (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Tréninkový den (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2189594
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "share",
                                "mode": "select",
                                "values": {
                                    "1": "In solution",
                                    "2": "Informační e-mail",
                                    "4": "{{10.`4`}}; {{formatDate(now; \"DD.MM.\")}}:{{13.choices[].message.content}}",
                                    "6": "{{formatDate(now; \"YYYYWW\")}}",
                                    "8": "{{formatDate(now; \"DD.MM.YYYY\")}}",
                                    "9": "{{formatDate(addDays(now; 5); \"DD.MM.YYYY\")}}",
                                    "10": "{{19.from.name}}",
                                    "11": "{{19.from.address}}",
                                    "13": "Stránky"
                                },
                                "sheetId": "Aktivace partnerů",
                                "spreadsheetId": "/1xSQT1J29GOnoGVu-wD09wQ39tP49KigY/1EEQ_u5wjreMb-NxF6x3ULsP8IzJegcSF/1otdbQ-XTB7_kovhjMNv6VgCux2iJMDSL/1za9iZaTZk7h7aCGq-vaoFUj63WKy-DYLOFLeoaAXreY",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "Shared with me"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Aktivace partnerů"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Andulka Česko",
                                                "Andulka Brno",
                                                "Provoz Brno",
                                                "Brno Operations"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Odpovědnost (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Stav (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Tag stavu (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Důvod odmítnutí (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Poznámky (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Duplicita (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Nový kontakt \ntýden (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Telefonický hovor\n(týden) (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Kdy kontaktováno\n(datum) (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Kdy kontaktovat\n(datum) (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Jméno a Příjmení (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "E-mail (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Telefon (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Portál (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "Lokalita (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "Smlouva týden (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Tréninkový den (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (uklid@naseandulka.cz)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Odpovědnost (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Stav (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Tag stavu (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Důvod odmítnutí (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Poznámky (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Duplicita (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Nový kontakt \ntýden (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Telefonický hovor\n(týden) (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Kdy kontaktováno\n(datum) (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Kdy kontaktovat\n(datum) (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Jméno a Příjmení (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "E-mail (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Telefon (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Portál (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Lokalita (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Smlouva týden (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Tréninkový den (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 21,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 14040612
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.`__IMTLENGTH__`}}",
                                            "b": "1",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "🚨 MAKE POISTKA v BRNE\n\nSearch Rows našiel viac ako 1 riadok.\n\nEmail:\n{{10.`11`}}\n\nPočet nájdených riadkov:\n{{10.`__IMTLENGTH__`}}\n\nScenár bol zastavený.",
                                "parse": false,
                                "idType": "channel",
                                "mrkdwn": true,
                                "channel": "D024H7Q5Y04",
                                "channelType": "im",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "idType": {
                                            "mode": "chose",
                                            "label": "Channel ID"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "marekluc3"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Direct message"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            },
                                            "label": "Obchod (andulka-workspace.slack.com - marekluc3)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "idType",
                                        "type": "select",
                                        "label": "ID type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "channel",
                                                "user",
                                                "username"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "User (Channel ID)",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}